/*** 

====================================================================
    About Section
====================================================================

***/

.about-section {
  position: relative;
  padding: 120px 0px;
  &.style-two{
    .anim-icons{
      pointer-events: none;
      .image-1{
        position: absolute;
        left: 0;
        top: 0;
        bottom: inherit;
        z-index: -1;
      }
    }
  }
  .anim-icons{
    pointer-events: none;
    .image-1{
      position: absolute;
      left: 0;
      bottom: -150px;
      z-index: -1;
      @include media-breakpoint-down(xxxl){
        display: none;
      }
    }
    .image-2{
      position: absolute;
      right: 0;
      bottom: -50px;
      z-index: -1;
      @include media-breakpoint-down(xl){
        display: none;
      }
    }
  }
  .image-column{
    .inner-colmun{
      margin-left: 30px;
      margin-right: 80px;
      @include media-breakpoint-down(lg){
        margin: 0;
        margin-bottom: 40px;
      }
      img {
        width: 100%;
      }
    }    
  }
  .content-column{
    .inner-column{
      margin-left: -20px;
      @include media-breakpoint-down(xxl){
        margin: 0;
      }
      .sec-title{
        .title{
          margin-bottom: 25px;
          @include media-breakpoint-down(xl){
            font-size: 40px;
          }
        }
        .text{
          max-width: 450px;
        }
        .btn-box{
          margin-top: 40px;
        }
      }
    }    
  }
}

/*** 

====================================================================
    About Section Two
====================================================================

***/

.about-section-two {
  position: relative;
  padding: 120px 0 0;
	.image-column{
    .inner-column{
      position: relative;
      margin-right: 90px;
      .image-1{
        img {
          width: 100%;
          border-radius: 20px;
        }
      }
      .info-circle {
        position: absolute;
        bottom: -70px;
        right: -70px;
        .inner {
          width: 150px;
          height: 150px;
          line-height: 148px;
          text-align: center;
          .shape-circle1 {
            position: absolute;
            top: 0;
            left: 0;
          }
          .text-circle-box {
            position: relative;
            svg {
              fill: #fff;
              transform-origin: 50% 50% 0;
              transform: rotate(0deg);
              font-size: 16px;
              font-weight: 500;
              letter-spacing: 4.5px;
              text-transform: uppercase;
            }
          }
        }
      }
    }		
	}
	.content-column{
    .inner-colmun{
      margin-left: -20px;
      @include media-breakpoint-down(xl){
        margin-left: 0px;
        margin-top: 100px;
      }
      .sec-title{
        .title{
          margin-bottom: 25px;
        }
        .btn-box{
          margin-top: 40px;
        }
      }
      .image-2{
        img{
          border-radius: 20px;
        }
      }
    }		
	}
}

/*** 

====================================================================
    About Section Three
====================================================================

***/

.about-section-three {
  position: relative;
  padding: 120px 0px;
  .anim-icons{
    pointer-events: none;
    .image-1{
      position: absolute;
      right: 0;
      top: 0;
      @include media-breakpoint-down(xl){
        display: none;
      }
    }
  }
  .content-row{
    align-items: center;
  }
  .image-column {
    .inner-column {
      @include media-breakpoint-down(lg){
        display: flex;
        justify-content: center;
      }
      .image-one {
        display: inline-block;
        margin-bottom: 0;
        position: relative;
        z-index: 1;
        @include media-breakpoint-down(lg){
          margin-bottom: 60px;
        }          
        img {
          @include media-breakpoint-down(sm){
            width: 100%;
          }
        }
      }
    }
  }
  .content-column {
    .inner-column {
      .sec-title{
        margin-bottom: 40px;
      }
      .info-box {
        margin-top: 20px;
        margin-bottom: 52px;
        @include media-breakpoint-down(lg){
          margin-bottom: 20px;
        }
        .inner {
          .icon-box{
            width: 50px;
            height: 50px;
            line-height: 50px;
            text-align: center;
            background-color: var(--theme-color1);
            border-radius: 50%;
            margin-bottom: 30px;
            .icon{
              font-size: 20px;
              color: var(--text-color-theme-color1);
            }
          }
          h4 {
            font-weight: 500;
            margin-bottom: 14px;
          }
          .text {
            line-height: 29px;
            color: var(--theme-color-lighter2);
          }
        }
      }
      .btn-box{
        .btn-link{
          font-size: 16px;
          line-height: 38px;
          font-weight: 600;
          letter-spacing: 0%;
          color: var(--theme-color-white);
          text-decoration: underline;
          text-decoration-style: solid;
          text-decoration-thickness: 0%;          
          .icon{
            font-size: 16px;
            margin-left: 15px;
            @include transition (all 300ms ease);
          }
          &:hover{
            .icon{
              transform: rotate(45deg);
            }
          }
        }
      }
    }
  }
}

/*** 

====================================================================
    About Section Four
====================================================================

***/

.about-section-four {
  position: relative;
  padding: 120px 0 110px;
  .anim-icons {
    pointer-events: none;
    .image-1 {
      position: absolute;
      left: 0;
      top: 120px;
      @include media-breakpoint-down(xxl){
				display: none;
			}
    }
    .image-2 {
      position: absolute;
      right: 0;
      top: -150px;
    }
  }  
  .outer-box{
    position: relative;
    padding-left: 215px;
    @include media-breakpoint-down(xxl){
      padding-left: 0;
    }
    .sec-title{
      position: static;
      margin-right: 150px;
      @include media-breakpoint-down(xxl){
        margin-right: 0;
      }
      .sub-title{
        position: absolute;
        left: 0;
        @include media-breakpoint-down(xxl){
          position: relative;
        }
      }
      .title{        
        padding-bottom: 44px;
      }
    }
    .bottom-border{
      border-bottom: 1px solid var(--theme-color-gray);
    }    
    .text-colmun{      
      .text{
        color: var(--theme-color-lighter2);
        margin-left: -45px;
        @include media-breakpoint-down(xl){
          margin-left: 0;
        }
      }
    }
  }
}

/*** 

====================================================================
  About Section Five
====================================================================

***/
@keyframes squrerotate{
	0% {
		transform: translate(0, 0) rotate(0deg);
	}
	100% {
		transform: translate(-150px, 200px) rotate(180deg);
	}
}

.about-section-five {
  position: relative;
  padding: 120px 0px 70px;
  .anim-icons {
    z-index: -1;
    pointer-events: none;
    .image-1 {
      position: absolute;
      top: -150px;
      right: 0;      
    }
    .image-2 {
      position: absolute;
      bottom: 0px;
      left: -150px;
      animation: squrerotate 5s infinite linear;
      animation-iteration-count: infinite;
      animation-direction: alternate;
      @include media-breakpoint-down(xl){
        display: none;
      }
    }
    .image-3 {
      position: absolute;
      top: 350px;
      right: 0;
      @include media-breakpoint-down(xxxl){
        display: none;
      }
    }
  }
  .outer-box{
    position: relative;
    padding-left: 215px;
    @include media-breakpoint-down(xxl){
      padding-left: 0;
    }
    .sec-title{
      position: static;
      margin-right: 150px;
      @include media-breakpoint-down(xxl){
        margin-right: 0;
      }
      .sub-title{
        position: absolute;
        left: 0;
        @include media-breakpoint-down(xxl){
          position: relative;
        }
      }
      .title{        
        padding-bottom: 44px;
      }
    }
    .bottom-border{
      margin-bottom: 37px;
      border-bottom: 1px solid var(--theme-color-gray);
      @include media-breakpoint-down(xxl){
        margin-right: 0;
      }
    }
  }
}


/*** 

====================================================================
  About Section Six
====================================================================

***/

.about-section-six {
  position: relative;
  padding: 120px 0px 130px;
  .anim-icons{
    pointer-events: none;
    .image-1{
      position: absolute;
      bottom: 0;
      right: 0;
      @include media-breakpoint-down(lg){
        display: none;
      }
    }
    .image-2{
      position: absolute;
      top: 220px;
      left: 12%;
      @include media-breakpoint-down(xxxxl){
        left: 9%;
      }
      @include media-breakpoint-down(xxxl){
        top: 200px;
        left: 50px;
      }
      @include media-breakpoint-down(xxl){
        display: none;
      }
    }
    .image-3{
      position: absolute;
      top: -50%;
      left: 0;
    }
  }
  .outer-box{
    position: relative;
    padding-left: 420px;
    &:before{
      position: absolute;
      top: 0;
      left: 340px;
      width: 1px;
      height: 338px;
      content: '';
      opacity: .1;
      background-color: var(--theme-color-white);
      @include media-breakpoint-down(xxl){
        display: none;
      }
    }
    @include media-breakpoint-down(xxl){
      padding-left: 0;
    }
    .sec-title{
      position: static;
      margin-right: 130px;
      margin-bottom: 0px;
      @include media-breakpoint-down(xxl){
        margin-right: 0;
      }
      .title{
        margin-bottom: 0;
        @include media-breakpoint-down(sm){
          line-height: 46px;
        }
      }
      .sub-title{
        position: absolute;
        left: 0;
        @include media-breakpoint-down(xxl){
          position: relative;
        }
      }
    }
    .content-box{
      margin-top: 50px;
      .text{
        font-weight: 400;
        font-size: 16px;
        line-height: 29px;
        max-width: 450px;
        margin-bottom: 50px;
      }
      .user-info-box{
        display: flex;
        align-items: center;
        gap: 50px;
        @include media-breakpoint-down(lg){
          gap: 20px;
          flex-wrap: wrap;
        }        
        .user-info{
          display: flex;
          align-items: center;
          gap: 24px;
          .thumb{
            overflow: hidden;
            border-radius: 50%;
          }
          .info{
            .name{
              font-weight: 700;
              margin-bottom: 0;
            }
            .designation{
              font-size: 14px;
              font-weight: 700;
              color: var(--theme-color15);
              line-height: 100%;
            }
          }
        }
      }
    }    
  }
}