/*** 

====================================================================
    Contact Section
====================================================================

***/

.contact-section {
  position: relative;
  padding-top: 130px;
  z-index: 2;
  .anim-icons{
    .image-1{
      position: absolute;
      top: -120px;
      right: 0;
      z-index: -1;
    }
    .image-2{
      position: absolute;
      top: -300px;
      right: 0;
      z-index: -1;
    }
  }
  .outer-box{
    position: relative;
    padding: 80px;
    margin: 0px 100px;
    border-radius: 30px;
    background-color: var(--theme-color2);
    @include media-breakpoint-down(xl){
      margin: 0 15px;
    }
    @include media-breakpoint-down(lg){
      padding: 80px 30px;
    }
    .bg-image{
      position: absolute;
      background-size: contain;
      background-position: left center;
    }
  }
  .content-column {
    .inner-column {
      .sec-title{
        max-width: 460px;
      }
      .contact-info{
        margin-top: 165px;
        @include media-breakpoint-down(lg){
          margin-top: 40px;
          margin-bottom: 60px;
        }
        .email{
          font-size: 20px;
          font-weight: 400;
          line-height: 48px;
          margin-bottom: 0;
        }
        .phone{
          font-size: 36px;
          font-weight: 700;
          line-height: 48px;
          margin-bottom: 30px;
          @include media-breakpoint-down(xl){
            font-size: 26px;
            line-height: 36px;
          }
        }
      }
    }
  }
}
.contact-form {
  position: relative;
  .form-group {
    position: relative;
    margin-bottom: 30px;
    &:last-child {
      margin-bottom: 0;
    }
    label{
      font-size: 16px;
      font-weight: 600;
      line-height: 29px;
      margin-bottom: 10px;
    }
    input:not([type="submit"]),
    textarea,
    select {
      position: relative;
      display: block;
      height: 55px;
      width: 100%;
      font-size: 14px;
      line-height: 29px;
      font-weight: 400;
      color: var(--theme-color6);
      background-color: transparent;
      border-bottom: 1px solid var(--theme-color12);
      border-radius: 0;
      margin-bottom: 0;
      @include transition(all 300ms ease);
    }
    textarea {
      height: auto;
      min-height: 120px;
      padding-top: 20px;
    }
    ::-webkit-input-placeholder {
      color: var(--theme-color6);
    }
    input:focus,
    select:focus,
    textarea:focus {
      border-color: var(--theme-color1);
    }
  }
}