/***

==================================================================
    Video Section
==================================================================

***/

.video-section {
  position: relative;
  margin: 0px 30px;
  overflow: hidden;
  border-radius: 30px;
  @include media-breakpoint-down(md){
    margin: 0;
    border-radius: 0;
  }
  &.style-two{
    margin: 0px 100px;
    @include media-breakpoint-down(xl){
      margin: 0 15px;
    }
  }
  &.alternate{
    .video-outer{
      padding-top: 100px;
      padding-bottom: 270px;
      &::before{
        top: inherit;
        bottom: calc(50% - 20px);
      }
      .title{
        margin-bottom: 90px;
      }
      .play-now{
        margin-bottom: 0px;
      }
    }
  }
  .bg-image{
    overflow: hidden;
    z-index: -1;
  }
  .video-outer{
    position: relative;
    padding-top: 250px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    &::before{
      position: absolute;
      top: calc(50% - 45px);
      left: 50%;
      width: 682px;
      height: 682px;
      content: '';
      opacity: .9;
      border-radius: 50%;
      background-color: var(--theme-color1);
      transform: translateX(-341px);
    }
    .play-now{
      padding: 9px;
      border-radius: 50%;
      margin-bottom: 100px;
      .icon{
        width: 106px;
        height: 106px;
        font-size: 30px;
        line-height: 106px;
        padding-left: 0;
        color: var(--theme-color1);
        background-color: var(--theme-color2);
      }
    }
    .title{
      color: var(--theme-color2);
      font-weight: 700;
    }
  }
}


/***

==================================================================
    Video Section Two
==================================================================

***/

.video-section-two {
  margin-bottom: 50px;
  .video-outer{
    position: relative;
    overflow: hidden;
    border-radius: 30px;
    padding: 145px 50px 240px;
    @include media-breakpoint-down(xl){
      padding: 100px 30px;
    }
  }
  .bg-image{
    z-index: -1;
  }
  .content {
    text-align: center;
    .play-now{
      position: absolute;
      right: 50px;
      top: calc(50% - 20px);
      padding: 9px;
      z-index: 1;
      border-radius: 50%;
      @include media-breakpoint-down(xl){
        position: relative;
        right: auto;
        top: 0;
        display: inline-block;
      }
      .icon{
        width: 88px;
        height: 88px;
        font-size: 30px;
        line-height: 88px;
        padding-left: 0;
        color: var(--theme-color1);
        background-color: var(--theme-color2);
      }
      &::after{
        position: absolute;
        top: -9px;
        left: 0;
        width: 282px;
        height: 282px;
        content: '';
        border-radius: 50%;
        z-index: -2;
        background-color: var(--theme-color1);
        @include media-breakpoint-down(xl){
          display: none;
        }
      }
      &::before{
        position: absolute;
        bottom: 15px;
        left: -17px;
        width: 315px;
        height: 315px;
        content: '';
        border-radius: 50%;
        z-index: -1;
        border: 1px solid var(--theme-color-white);
        @include media-breakpoint-down(xl){
          display: none;
        }
      }
    }
    .stylish-text{
      font-weight: 400;
      font-size: 70px;
      line-height: 100%;
      text-align: center;
      color: var(--theme-color-light);
      font-family: var(--style-font);
      @include media-breakpoint-down(xl){
        margin-bottom: 30px;
      }
    }
  }
}

/***

==================================================================
    Video Section Three
==================================================================

***/

.video-section-three {
  position: relative;
  padding-bottom: 283px;
  .title-stroke-text{
    position: absolute;
    right: 0;
    bottom: 118px;
  }
  .video-outer{
    position: relative;
    height: 565px;
    border-radius: 30px;
    overflow: hidden;
  }
  &.style-two{
    padding-bottom: 0;
    .outer-box{
      position: relative;
      max-width: 1716px;
      margin: 0 auto;
      height: 750px;
      border-radius: 30px;
      overflow: hidden;    
    }
  }  
}


/***

==================================================================
    Video Section Three
==================================================================

***/

.video-section-four{  
  .video-outer{
    position: relative;
    padding: 200px 0px;
    .bg-image{
      border-radius: 30px;
      overflow: hidden;
    }
    .button-circle{
      padding-bottom: 0;
    }
    .customer-info{
      position: absolute;
      padding: 35px 25px;
      max-width: 248px;
      border-radius: 30px;
      left: 60px;
      bottom: -50px;
      background-color: var(--theme-color-gray);
      @include media-breakpoint-down(sm){
        left: 20px;
      }
      .image-box{
        margin-bottom: 5px;
      }
      .count-outer{
        display: flex;
        align-items: center;
        gap: 15px;
        margin-bottom: 5px;
        .count-box{
          font-size: 36px;
          font-weight: 700;
          line-height: 46px;
        }
        .count-title{
          font-size: 16px;
          font-weight: 700;
          line-height: 24px;
        }
      }
      .text{
        font-size: 16px;
        font-weight: 400;
        line-height: 29px;
      }
    }
  }
}

@-webkit-keyframes modal-video {
	from {
	opacity: 0;
	}
	to {
	opacity: 1;
	}
}
@keyframes modal-video {
	from {
	opacity: 0;
	}
	to {
	opacity: 1;
	}
}
@-webkit-keyframes modal-video-inner {
	from {
	-webkit-transform: translate(0, 100px);
	transform: translate(0, 100px);
	}
	to {
	-webkit-transform: translate(0, 0);
	transform: translate(0, 0);
	}
}
@keyframes modal-video-inner {
	from {
	-webkit-transform: translate(0, 100px);
	transform: translate(0, 100px);
	}
	to {
	-webkit-transform: translate(0, 0);
	transform: translate(0, 0);
	}
}
.modal-video {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 1000000;
	cursor: pointer;
	opacity: 1;
	-webkit-animation-timing-function: ease-out;
	animation-timing-function: ease-out;
	-webkit-animation-duration: 0.3s;
	animation-duration: 0.3s;
	-webkit-animation-name: modal-video;
	animation-name: modal-video;
	-webkit-transition: opacity 0.3s ease-out;
	transition: opacity 0.3s ease-out;
}
.modal-video-effect-exit {
	opacity: 0;
}
.modal-video-effect-exit .modal-video-movie-wrap {
	-webkit-transform: translate(0, 100px);
	transform: translate(0, 100px);
}
.modal-video-body {
	max-width: 960px;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	padding: 0 10px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.modal-video-inner {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	width: 100%;
	height: 100%;
}
@media (orientation: landscape) {
	.modal-video-inner {
	padding: 10px 60px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	}
}
.modal-video-movie-wrap {
	width: 100%;
	height: 0;
	position: relative;
	padding-bottom: 56.25%;
	background-color: #333;
	-webkit-animation-timing-function: ease-out;
	animation-timing-function: ease-out;
	-webkit-animation-duration: 0.3s;
	animation-duration: 0.3s;
	-webkit-animation-name: modal-video-inner;
	animation-name: modal-video-inner;
	-webkit-transform: translate(0, 0);
	transform: translate(0, 0);
	-webkit-transition: -webkit-transform 0.3s ease-out;
	transition: -webkit-transform 0.3s ease-out;
	transition: transform 0.3s ease-out;
	transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
}
.modal-video-movie-wrap iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.modal-video-close-btn {
	position: absolute;
	z-index: 2;
	top: -45px;
	right: 0px;
	display: inline-block;
	width: 35px;
	height: 35px;
	overflow: hidden;
	border: none;
	background: transparent;
}
@media (orientation: landscape) {
	.modal-video-close-btn {
	top: 0;
	right: -45px;
	}
}
.modal-video-close-btn:before {
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}
.modal-video-close-btn:after {
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
.modal-video-close-btn:before, .modal-video-close-btn:after {
	content: "";
	position: absolute;
	height: 2px;
	width: 100%;
	top: 50%;
	left: 0;
	margin-top: -1px;
	background: #fff;
	border-radius: 5px;
	margin-top: -6px;
}
